<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<a class="btn btn-info" href = "https://login.xero.com/identity/connect/authorize?response_type=code&client_id=704EEA0ED2B948E5827401312E8FFA85&client_secret=RuuNvFyycuWD2XO32w8Lf85V1pe7Pbu8dhqYV1F8oAAiuVjU&scope=offline_access%20openid%20profile%20email%20accounting.transactions%20accounting.contacts%20accounting.settings%20accounting.reports.read%20accounting.settings.read%20accounting.contacts.read%20payroll.employees.read&redirect_uri=https://deaninfo.com/Symfony/public/index.php/customer&state=123">Login To Xero</a>
